<div class="w-screen h-screen flex items-center justify-center bg-slate-100">

    <div class="w-80">
        <div>
            <div class="card border-0 shadow p-3">
                <div class="form-floating mb-3 tetx-center">
                    <h5 class="text-center text-warning">Log In</h5>
                </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="firstName" name="firstname" [(ngModel)] = 'email'>
                        <label for="firstname">Email Address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="lastName" name="lastName" [(ngModel)] = 'password'>
                        <label for="lastName">Password</label>
                    </div>
                    <button type="button" class="btn btn-outline-success" (click) = "login()">Login</button>
            </div>
        </div>
    </div>
</div>