<div class="container-fluid">

  
  <!-- form for reseting password start here-->

  <div class="w-screen h-screen absolute z-20 flex items-center justify-center bg-slate-400/[.5]" *ngIf="showResetPass">
    
    <div class="card border-0 shadow p-3 bg-white md:w-1/2">
        <div class="form-floating mb-3 tetx-center">
          <h5 class="text-center text-warning">Reset Password</h5>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            [(ngModel)]="currPass"
          />
          <label for="lastName">Current Password</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="newPass"
          />
          <label for="email">New Password</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="mobile"
            name="mobile"
            [(ngModel)]="confirmPass"
          />
          <label for="mobile">Confirm Password</label>
        </div>
        <button
          type="button"
          class="btn btn-outline-success mt-2"
          (click)="resetPass()"
        >
          Reset Password
        </button>
    <button
      type="button"
      class="btn btn-outline-danger mt-2"
      (click)="openCloseResetPass()"
    >
      Close
    </button>
      </div>

</div>


  <!-- form for reseting password ends here-->


  <div class="row">
    <div class="col-md-4 mt-5">


      <!-- user's options section start here -->

      <div class="card border-0 shadow p-3">
        <div class="form-floating mb-3 tetx-center">
          <h5 class="text-center text-warning">Student Section</h5>
        </div>

        <button
          type="button"
          class="btn btn-outline-success mt-2"
          (click)="attendance()"
        >
          See Attendance
        </button>

        <button
          type="button"
          class="btn btn-outline-success mt-2"
          (click)="assignment()"
        >
          See Assignment
        </button>

        <button
          type="button"
          class="btn btn-outline-success mt-2"
          (click)="result()"
        >
          See Test Result
        </button>

        
        <button
          type="button"
          class="btn btn-outline-success mt-2"
          (click)="openCloseResetPass()"
        >
          Reset Password
        </button>

        <button
          type="button"
          class="btn btn-outline-danger mt-2"
          (click)="logout()"
        >
          LogOut
        </button>
      </div>

      
      <!-- user's options section ends here -->

    </div>
    <div class="col-md-8 mt-5">
      <div class="card p-3 shadow">

        
        
      <!-- Assignment section start here -->

        <div class="card-body" *ngIf="showAssignment">
          <h2 class="text-danger text-center text-xl">Assignments List</h2>

          <div class="h-5/6 overflow-auto">
            <table class="table table-hover text-center">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Subject</th>
                  <th scope="col">
                    Last Date
                    <button
                      type="button"
                      class="btn px-2 py-0 btn-outline-success"
                      (click)="filterAssignment()"
                    >
                      <p *ngIf="sortAssignmentInAscending" class="text-lg">
                        &uarr;
                      </p>
                      <p *ngIf="sortAssignmentInDescending" class="text-lg">
                        &#8595;
                      </p>
                    </button>
                  </th>
                  <th scope="col">Marks</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let assignment of assignmentList">
                  <td>{{ assignment.name }}</td>
                  <td>{{ assignment.subject }}</td>
                  <td>{{ assignment.date }}</td>
                  <td>{{ assignment.marks }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        
      <!-- Assignment section end here -->
      
      <!--attenance section start here -->

        <div class="card-body" *ngIf="showAttendance">
          <h2 class="text-danger text-center text-xl">Attendance</h2>

          <div class="h-5/6 overflow-auto">
            <table class="table table-hover text-center">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Month</th>
                  <th scope="col">Attendance</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let attendance of attendanceList">
                  <td>{{ attendance.name }}</td>
                  <td>{{ attendance.email }}</td>
                  <td>{{ attendance.month }}</td>
                  <td>{{ attendance.attendance }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      
      <!-- attenance section end here -->
      <!-- result section  start here -->


        <div class="card-body" *ngIf="showResult">
          <h2 class="text-danger text-center text-xl">Result</h2>
          <div class="h-5/6 overflow-auto">
            <table class="table table-hover text-center">
              <thead>
                <tr>
                  <th scope="col">Name Of Exam</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Email of Student</th>
                  <th scope="col">Obtained Marks</th>
                  <th scope="col">Total Marks</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let result of ResultList">
                  <td>{{ result.exam }}</td>
                  <td>{{ result.subject }}</td>
                  <td>{{ result.email }}</td>
                  <td>{{ result.obtained }}</td>
                  <td>{{ result.total }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
      <!-- result section  end here -->

      </div>
    </div>
  </div>
</div>
